<div class="container">
<div class="master">
  <p class="content"><%= notice %></p>

  <div>
      <%= form_tag(tasks_path, method: "get") do %>
      <%= label_tag :task_name, "タイトル" %><%= text_field_tag :task_name, params[:task_name] %>
      <%= label_tag :status, "ステータス" %>
      <%= select_tag :status, options_for_select(Task.statuses), include_blank: true %>
      <%= submit_tag "検索" %>
      <% end %>

<table class="content">
  <tr>
    <th>タイトル名<th>
    <th>詳細<th>
    <th><%= sort_order "deadline", "終了期限"%></th>
    <th>ステータス</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class='task_row'><%= task.task_name %></td>
    <td><%= task.task_content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id), class: "link" %></td>
    <td><%= link_to '編集する', edit_task_path(task.id), class: "link" %></td>
    <td><%= link_to '削除する', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: "link" %></td>
  </tr>

<% end%>
</table>

<%= link_to'タスクを作成する', new_task_path, class: "new_link" %>

